<div class="container mt-4">
  <div class="row">
    <div class="d-inline-flex col-md-12">
      <div class="col-md-4 form-group">
        <!-- <i class="fa fa-search mr-3 mt-2"></i> -->
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search">
      </div>
      <button class="col-md-1 btn btn-primary form-control"><i class="fa fa-search"></i></button>
      <div class="col-md-3 form-group">
        <select class="custom-select ml-2" id="inlineFormCustomSelectPref">
          <option selected>Order By</option>
          <option value="PriceAsc">Price Ascending</option>
          <option value="PriceDesc">Price Descending</option>
          <option value="NameAsc">Name Ascending</option>
          <option value="NameDesc">Name Descending</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 prodItem"  *ngFor="let product of products">
      <div class="d-flex justify-content-between">
        <span class="prodName">{{(product.name.length > 20)? (product.name | slice:0:20) + '...' : (product.name)}}</span>
        <div>{{product.price}}&#163;</div>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <div class="mr-2">How many?</div>
        <input class="form-control mr-auto m-0" style="width: 4rem; height: 2rem;" type="number" value="0" id="example-number-input">
        <button class="btn btn-primary btn-sm mr-2">Info</button>
        <button class="btn btn-success btn-sm"> <i class="fa fa-shopping-basket"></i> Basket</button>
      </div>
    </div>
    
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
