<div class="container">
  <div class="row">
    <div class="col-md-12 p-2">
      <h1> <i class="fa fa-shopping-cart"></i> Basket</h1>
        <div class="card shopping-cart">
                 <div class="card-header bg-dark text-light">
                     <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                     Shipping cart
                     <div class="clearfix"></div>
                 </div>
                 <div class="card-body">
                         <!-- PRODUCT -->
                         <div class="row" *ngFor="let item of basket.orderItems; let i=index;">
                             <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                                 <h4 class="product-name"><strong>{{item.product.name}}</strong></h4>
                                 <h4>
                                     <small>{{(item.product.description.length > 20)? (item.product.description | slice:0:25) + '...' : (item.product.description)}}</small>
                                 </h4>
                             </div>
                             <div class="col-12 col-sm-12 text-sm-center col-md-6 text-md-right row">
                                 <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                     <h6><strong>{{item.product.price}}<span class="text-muted">x</span></strong></h6>
                                 </div>
                                 <div class="col-4 col-sm-4 col-md-4">
                                     <div class="quantity">
                                         <input type="button" value="+" class="plus">
                                         <input type="number" step="1" value="{{this.quantsArr[i]}}" max="99" min="1" title="Qty" class="qty"
                                                size="4" [(ngModel)]="this.quantsArr[i]"  (change)="showChanged(i)">
                                         <input type="button" value="-" class="minus">
                                     </div>
                                 </div>
                                 <div class="col-2 col-sm-2 col-md-2 text-right">
                                     <button type="button" class="btn btn-outline-danger btn-xs">
                                         <i class="fa fa-trash" aria-hidden="true"></i>
                                     </button>
                                 </div>
                             </div>
                         </div>
                         <hr>
                         <!-- END PRODUCT -->
                         
                  <div class="row">
                  <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                      <h4 class="product-name"><strong>Type of delivery</strong></h4>
                      <h4>
                        <select class="form-control form-control-sm" [(ngModel)]="deliverValue" (change)="status()">
                          <option [disabled]="!isFullDetailed()" value="Fast">Fast(DPD Comp.)</option>
                          <option [disabled]="!isFullDetailed()" value="Slow">Slow(DPD Comp.)</option>
                          <option value="Locker">Parcel locker</option>
                          <option value="Collect">Collection(from store)</option>
                        </select>
                      </h4>
                      <small *ngIf="this.deliverValue == 'Slow'">Estimated delivery in 5-7 days</small>
                      <small *ngIf="this.deliverValue == 'Fast'">Estimated delivery in 3-5 days</small>
                      <small *ngIf="this.deliverValue == 'Locker'">Estimated delivery in 3-7 days</small>
                      <small *ngIf="this.deliverValue == 'Collect'">Contact seller after checkout to arrange collection</small>
                      <hr>
                      <small *ngIf="!isFullDetailed()"><strong>Fill your adres details to enable more types of delivery</strong></small>
                  </div>
                  <div class="col-12 col-sm-12 text-sm-center col-md-6 text-md-right row">
                    <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                      <h6><strong>{{this.deliverValue | toPrice}}<span class="text-muted"></span></strong></h6>
                    </div>

                  </div> 
                </div>
                     <div class="pull-right">
                         <a href="" class="btn btn-outline-secondary pull-right" [(ngModel)]="total"
                         ngDefaultControl>
                             Total: {{total | number}}
                         </a>
                     </div>
                 </div>
                 <div class="card-footer">
  
                     <div class="pull-right" style="margin: 10px" >
                         <button class="btn btn-success pull-right"
                         [disabled]="this.deliverValue == undefined">Checkout</button>
                     </div>
                 </div>
             </div>
     </div>
      
    </div>
</div>
