
  <div class="pricing-header px-3 py-3 pt-sm-5 pb-sm-4 mx-auto text-center">
    <h1 class="display-4">{{product.name}}</h1>
    <p class="lead">{{product.description}}</p>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
      <div class="card mb-4 mt-2 box-shadow">
        <div class="card-header"
        [class.bg-success]="this.product.status === 'AVAILABLE'"
        [class.bg-primary]="this.product.status === 'IN STOCK'"
        [class.bg-info]="this.product.status === 'SMALL AMOUNT'"
        [class.bg-warning]="this.product.status === 'SMALL AMOUNTS'"
        [class.bg-danger]="this.product.status === 'OUT OF STOCK'"
        >
          <h4 class="my-0 font-weight-normal" >{{product.status}} <div *ngIf="authServ.currClient?.isAdmin" style="float: right; position:relative;">
            <button (click)="deleteItem()" class="btn btn-sm btn-danger"> <i class="fa fa-trash"></i> Remove </button>
          </div></h4>
          
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">{{this.product.price}} &#163;<small class="text-muted">/ each</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>
              Each product has a boot guarantee of 60 days
            </li>
            <li>
              For more info, go to see our <span [routerLink]="['/faq']" style="cursor:pointer; font-weight:700;"> FAQ &#8599;</span>
            </li>
          </ul>
          <div class="mb-2">
            <div class="mr-2 pt-1 d-inline-block">Quantity:</div>
            <input [(ngModel)]="quantity" style="width: 3.7rem; height: 2rem;" type="number" value="1" min="1" max="9" id="example-number-input">
          </div>
          <div class="btn-group">
            <button (click)="onCancel()" type="button" class="mr-2 btn btn-sm btn-warning"> <i class="fa fa-arrow-left"></i> Back to list</button>
            <button [disabled]="(this.authServ.currClient == undefined || this.authServ.currClient?.isAdmin || this.quantity == '0' || this.quantity == undefined)" 
            type="button" class="btn btn-sm btn-success" (click)="addToBasket()"> <i class="fa fa-shopping-cart"></i> Add to basket</button>            
          </div>
        </div>
      </div> 
    </div>

  </div>


