
textarea
{
    resize: none;
}

.control-label
{
    font-weight: 700;
    font-size: 1.1rem;
    color: rgb(77, 147, 209)
}

.card
{
    margin: 0 auto;
    float: none;
    margin-bottom: 2rem;
    background-color: rgb(222, 248, 231);
}

@media only screen and (max-width: 1000px)
{
    .card{
        width: 50%;
    }
}

@media only screen and (max-width: 600px)
{
    .card 
    {
        width: 80%;
    }
}
@media only screen and (max-width: 600px)
{
    .card 
    {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px)
{
    .card
    {
        width: 50%;
    }
}