
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']">
    <img src="../../assets/logoCar.png" alt="CarPart">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/products']"><i class="fa fa-pencil fa-fw"></i>Products</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/orders']" *ngIf="authServ.currClient"> <i class="fa fa-sticky-note"></i> Orders</a>
      </li>
      <li *ngIf="!loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn() && !this.authServ.currClient.isAdmin">
        <a class="nav-link" *ngIf="loggedIn()" [routerLink]="['/basket']"><i class="fa fa-shopping-basket"></i> My Basket</a>
      </li>
    </ul>
    <div *ngIf="loggedIn()" class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <a class="dropdown-toggle text-light">
        Logged as {{authServ.decToken?.unique_name}}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/mydetails']"><i class="fa fa-user"></i>My details</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
      </div>      
    </div>
    <form *ngIf="!loggedIn()" #logForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" 
      required [(ngModel)]="creds.username">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" 
      required [(ngModel)]="creds.password" >
      <button [disabled]="!logForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>

  </div>
</nav>

