@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
nav{
    font-family: 'Lato', sans-serif;   
}
.navbar-nav li a{
    color: #fff;
}
// .navbar-expand-md .navbar-nav .dropdown-menu {
//     position: absolute !important;
// }
.dropdown-menu{
    // padding:0;

    .dropdown-item
    {
        padding-left:1rem;
        i{
            padding:0;
            margin:0;
            margin-right: 0.35rem;
        }
    }
}

.dropdown
{
    margin-right: 2.1rem;
    cursor:pointer;
}

// .dropdown {
//     .dropdown-menu {
//         transition: all 0.5s;
//         overflow: hidden;
//         transform-origin: top center;
//         transform: scale(1,0);
//         display: block;
//     }
//     &:hover {
//         .dropdown-menu {
//             transform: scale(1);
//         }
//     }
// }

