<div class="container">
  <div class="row">
    <div class="col-md-12 mt-2">
      <h1 class="text-center"> <i class="fa fa-question-circle"></i> FAQ</h1>
      <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start bg-warning">
          <div class="w-100 text-center">
            <h4 class="mb-1">CONTACT DETAILS</h4>
            <!-- <small>3 days ago</small> -->
          </div>
          <p class="mb-1">
If you have got any issue with your order, or if you've got a question, which wasn't mention here, feel free to contact with us!</p>
            <div class="row">
                <div class="col-md-6">
                  <strong>Transfer title:  </strong>'WHO' + 'ORDER_NO' + 'TOTAL'
                </div>
                <div class="col-md-6">
                  <strong>Email adress: </strong> carPartStore@gearbox.com
                </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong>Bank Account No.:  </strong>44235000022951665780141853
              </div>
              <div class="col-md-6">
                <strong>Telephone number: </strong>+48 103 453 234
              </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <strong>Store address: </strong>Baker Street, RGQG+Q4 Paisley, Great Britain
            </div>
          </div>
        
          <!-- <small>Donec id elit non mi porta.</small> -->
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">1. HOW CAN I CHANGE MY SHIPPING ADDRESS?</h4>
            <!-- <small>3 days ago</small> -->
          </div>
          <p class="mb-1">By default, the last used shipping address will be saved into to your 
            Sample Store account. When you are checking out your order,
             the default shipping address will be displayed and you have the option to amend it if you need to.</p>
          <!-- <small>Donec id elit non mi porta.</small> -->
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">2. HOW DO I ACTIVATE MY ACCOUNT?</h4>
            <!-- <small class="text-muted">3 days ago</small> -->
          </div>
          <p class="mb-1">For sure, you don't have to do such a thing. This page is so dummy, and it isn't obligatory to activate your account
            . Just go to register page, type some details, and register!
          </p>
          <!-- <small class="text-muted">Donec id elit non mi porta.</small> -->
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">3. HOW CAN I TRACK MY ORDERS & PAYMENT?</h4>
            <!-- <small class="text-muted">3 days ago</small> -->
          </div>
          <p class="mb-1">After logging into your account, the status of your checkout history can be found on Orders page. 
            Delivery status will be updated as soon as possible. We do everything we can to ensuere that the delivery time is as short as possible
          </p>
          <!-- <small class="text-muted">Donec id elit non mi porta.</small> -->
        </a>
      </div>
    </div>
  </div>
</div>