
<div class="container mb-4">
  <div class="row mt-4">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row d-flex justify-content-between">
            <h1 class="ml-2"> <i class="fa fa-list-alt"></i> Orders</h1>
            <select class="btn btn-mini p-0 mr-2" [(ngModel)]="filterWhat">
              <option value="1">OrderId</option>
              <option value="2">ClientId</option>
              <option value="3">Status</option>
              <option value="4">More Than</option>
              <option value="5">Less Than</option>
            </select>
            <div class="md-form active-cyan active-cyan-2 m-2">
              <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm">
            </div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <strong class="col-md-3">Id</strong> 
          <strong class="col-md-3" *ngIf="!authServ.currClient?.isAdmin">Type</strong>
          <strong class="col-md-3" *ngIf="authServ.currClient?.isAdmin">ClientId</strong>
          <strong class="col-md-3">Status</strong>
          <strong class="col-md-3">Total</strong>
          <!-- <div class="col-md-3"></div> -->
        </li>
        <li class="list-group-item list-group-item-info d-flex justify-content-between" *ngFor="let item of orders | filter:searchTerm:filterWhat"
        >
         <div class="col-md-3">{{item.id}}</div> 
         <div class="col-md-3" *ngIf="!authServ.currClient?.isAdmin">{{item.orderType}}</div>
         <div class="col-md-3" *ngIf="authServ.currClient?.isAdmin">{{item.clientId}}</div>
         <div class="col-md-3">{{item.status}}</div>
         <div class="col-md-3">{{item.total}}</div>
         <!-- <div class="mr-0"><i class="fa fa-arrow-right"></i></div> -->
         <div>
          <div class="mr-0 position-relative" [routerLink]="['/orders', item.id]"><i class="fa fa-arrow-right"></i></div>
         </div>
        </li>
      </ul>

    </div>
  </div>
</div>