
<div class="container">
  <div class="row mt-2">
    <div class="col-md-12">
      <h1> <i class="fa fa-list-alt"></i> Orders</h1>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between">
          <strong>Id</strong> 
          <strong>Type</strong>
          <strong>Status</strong>
          <strong>Total</strong>
          <div style="width: 5rem;"></div>
        </li>
        <li class="list-group-item list-group-item-info d-flex justify-content-between" *ngFor="let item of orders">
         <div>{{item.id}}</div> 
         <div>{{item.orderType}}</div>
         <div>{{item.status}}</div>
         <div>{{item.total}}</div>
         <div>Details <i class="fa fa-arrow-right"></i></div>
        </li>
      </ul>

    </div>
  </div>
</div>